<div *ngIf="movie() as details" class="movie-container">
    <section [style.background-image]="'url(' + details.posterBackdrop + ')'"
        class="w-full bg-center bg-no-repeat bg-cover bg-neutral-900 bg-black/70 bg-blend-soft-light flex flex-col md:flex-row space-y-8 md:space-y-0 md:space-x-8 rtl:space-x-reverse text-white p-8">
        <div class="flex items-center justify-center w-full  bg-neutral-quaternary rounded-base sm:w-96">
            <img src="{{details.img}}" alt="">
        </div>
        <div class="w-full">
            <h2 class="text-4xl font-bold text-heading text-white">{{details.originalTitle}} ({{details.releaseDate |
                date:'y'}})</h2>
            <div class="py-2 flex items-center gap-4">
                <span>{{details.runtime}}</span> |
                <span>{{details.releaseDate}}</span>
                <div class="flex items-center justify-start">
                    <svg class="w-5 h-5 text-fg-yellow" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                    </svg>
                    <p class="ms-2 text-sm font-bold ">{{details.voteAverage | number : '1.0-2'}}</p>
                    <span class="w-1 h-1 mx-1.5 bg-neutral-quaternary rounded-full"></span>
                    <p class="text-sm font-medium  ">{{details.voteCount}} valoraciones</p>
                </div>
            </div>
            <div class="text-lg italic font-semibold text-heading text-white py-3">{{details.genres}}</div>
            <div class="">{{details.overview}}</div>
        </div>
        <span class="sr-only">Loading...</span>
    </section>
<div class="mt-12 px-4">
    <div class="flex items-center justify-between mb-6">
        <h3 class="text-2xl font-bold text-heading">Reparto Principal</h3>
        <span class="text-xs text-gray-400 md:hidden">Desliza para ver más →</span>
    </div>
    
    <div class="flex overflow-x-auto gap-4 pb-4 snap-x snap-mandatory scrollbar-hide">
        @for (actor of actors(); track actor.name) {
            <div class="flex-none w-32 md:w-40 snap-start">
                <app-actor-card [actor]="actor" />
            </div>
        }
    </div>
</div>

<div class="mt-12 px-4">
    <div class="flex items-center justify-between mb-6">
        <h3 class="text-2xl font-bold text-heading">Recomendaciones</h3>
    </div>
    
    <div class="flex overflow-x-auto gap-4 pb-4 snap-x snap-mandatory scrollbar-hide">
            @for (movie of recommendations(); track movie.id) {
            <div class="flex-none w-32 md:w-40 snap-start">
               <app-movie-card [movie]="movie"></app-movie-card>
            </div>
        }
    </div>
</div>

</div>